/*!
 * Start Bootstrap - Agency v5.1.0 (https://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */

body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
  line-height: 1.75;
}

img {
  display: inline-block;
  max-width: 100%;
  width: 100%;
}

a {
  color: #e04137;
  cursor: pointer;
}

a:hover {
  color: #c5281f;
  text-decoration: none;
}

.text-primary {
  color: #d42757 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.frm-register .form-control {
  font-size: 12px;
}

.hasmargin {
  margin-bottom: 1rem;
}

.img-school {
  display: none;
}

.page-section {
  padding: 100px 0;
}

.page-section h2.section-heading {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #333;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.art-icon {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.art-icon .fa-stack {
  text-align: center;
  width: 126px;
  height: 126px;
  line-height: 126px;
}

.art-icon .des {
  width: 100px;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.art-icon .des h4 {
  margin-top: 0;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.art-icon .des h4 span {
  color: #6c757d;
  font-size: 0.875rem;
  display: block;
  font-weight: normal;
  margin-top: 4px;
  font-style: italic;
  font-family: Roboto Slab;
  line-height: 1.4;
}

.art-sub {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.art-sub .link {
  width: 250px;
}

.art-sub .des {
  width: 100px;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 15px;
}

.art-sub .des h4 {
  margin-top: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.art-sub .des p {
  box-orient: vertical;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  margin-bottom: 0;
}

.art-slide .des h4 {
  margin-top: 1rem;
  font-size: 1.125rem;
}

.outer-nav {
  background: #e04137;
}

.btn-more {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Merriweather', serif;
  padding: 4px 15px;
  background: #2958b5;
  display: inline-block;
  border-radius: 2px;
}

.btn-more i {
  vertical-align: middle;
  margin-left: 5px;
  margin-top: -2px;
}

textarea.form-control {
  min-height: 70px;
  resize: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e5e5e5;
}

.btn-more:hover {
  background: #ed3237;
  color: #fff;
}

.block-addess > p {
  position: relative;
  /* font-weight: 500; */
  /* text-align: center; */
  font-size: 14px;
  margin-bottom: 20px;
  /* text-transform: uppercase; */
  /* font-style: italic; */
  color: #999;
  /* padding-bottom: 20px; */
}

.btn-register {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-image: none;
  height: 40px;
  /* background-color: #ed3237; */
  background-image: linear-gradient(to right, #e04137, #d2235d, #b2257c, #823590, #3f4095);
  line-height: 40px;
  padding: 0 24px 0 32px;
  cursor: pointer;
  /* letter-spacing: 1px; */
  white-space: nowrap;
  border: none;
  border-radius: 3px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-register:hover { opacity: 0.8; color: #fff; }
.block-addess > p i {
  font-size: 12px;
}

.block-addess > p i.fa-quote-left {
  vertical-align: top;
  margin-right: 5px;
}

.block-addess > p i.fa-quote-right {
  vertical-align: bottom;
  margin-left: 5px;
}

.footer {
  line-height: 1.6;
  color: #bbb;
}

.footer h5 {
  color: #fff;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.top-footer a {
  color: #ddd;
}

.top-footer .block-footer a i {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}

.top-footer .logo {
  max-width: 160px;
  display: block;
}

.top-footer .logo img {
  display: block;
}

.top-footer dl {
  margin-bottom: 45px;
}

.top-footer dl dt {
  font-weight: 500;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
}

.top-footer dl dt a {
  color: #fff;
}

.top-footer dl dd {
  margin-bottom: 8px;
}

.block-footer {
  margin-bottom: 20px; color: #fff; 
}
.block-footer p { margin-bottom: 0; }
.bottom-footer {
  overflow: hidden;
  padding: 10px 0;
  background: #ac1a23;
  border-top: solid 1px #a54146;
}

.bottom-footer .copyright {
  margin-bottom: 0;
  float: left;
  color: #fff;
  margin-top: 7px;
}

.bottom-footer .list-social {
  float: right;
  margin-bottom: 0;
}

.bottom-footer .list-social li {
  display: inline-block;
  margin: 0 5px;
}

.bottom-footer .list-social li a {
  text-align: center;
  line-height: 30px;
  color: #fff;
  height: 30px;
  width: 30px;
  display: block;
  border-radius: 50%;
}

.bottom-footer .list-social li a.facebook {
  background: #4264aa;
}

.bottom-footer .list-social li a.ins {
  background: #356b99;
}

.bottom-footer .list-social li a.googleplus {
  background: #e15f4f;
}

.bottom-footer .list-social li a.tumblr {
  background: #2f4f6e;
}

.bottom-footer .list-social li a.youtobe {
  background: #ed302f;
}

.bottom-footer .list-social li a.twitter {
  background: #55acee;
}

.bottom-footer .list-social li a.pinterest {
  background: #dd131b;
}

.flat-row.row-bg.register {
  background: #f9f4ee;
  background-size: cover;
  border-top: 3px solid #2858b5;
  border-bottom: 3px solid #2858b5;
  background-attachment: fixed;
  padding: 48px 0;
}

.flat-title-section.text-center:after {
  display: none;
}

.flat-title-section.text-center h1 {
  font-size: 26px;
  color: #ed3237;
  text-shadow: 0px 0px 1px #fff;
  text-transform: uppercase;
  font-weight: 600;
  /* margin-left: 34%; */
  font-family: "Roboto";
}

.block-addess {
  /* padding: 27px; */
  /* background: #fff; */
  /* border-radius: 5px; */
  /* box-shadow: 0px 1px 10px #ddd; */
  /* border-left: 1px solid #ed3237; */
  /* border-right: 1px solid #ed3237; */
  /* border-top: 1px solid #ed3237; */
  /* border-bottom: 3px solid #ed3237; */
}

.block-addess address p {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.block-addess small {
  font-size: 100%;
}

.block-addess address .hotline {
  display: block;
  font-weight: 900;
  font-size: 21px;
  color: #ac1a23;
  margin-bottom: 20px;
}

.block-addess p {
  margin-bottom: 10px;
}

.outer-radio-1 {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.radio-1 {
  display: inline-block;
  margin-left: 15px;
}

.radio-1 input,
.radio-1 label {
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
}

.frm-general .form-group label {
  font-size: 12px;
}

.search-field {
  padding-left: 10px;
}

.flat-title-section {
  position: relative;
  margin-bottom: 49px;
  padding-bottom: 15px;
  font-size: 14px;
}

.art-slide-1 {
  position: relative;
}

.art-slide-1 .des {
  position: absolute;
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
}

.art-slide-1 .des p {
  margin-bottom: 0;
  color: #eee !important;
}

.art-slide-1 .des h4 {
  margin-top: 0;
  color: #fff;
}

.art-slide-1 .des h4 a {
  color: #fff;
}

.art-slide-1 {
  margin: 0 15px;
}

.slider .slick-prev, .slider .slick-next {
  width: 30px;
  height: 30px;
}

.slider .slick-prev:before, .slider .slick-next:before {
  color: #ed3237;
  font-size: 30px;
}

.custom-header {
  z-index: 999;
}

figure, .art-sub a.link, .art-slide a.link {
  position: relative;
  overflow: hidden;
  display: block;
  cursor: pointer;
}

figure:before, .art-sub a.link:before, .art-slide a.link:before {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

figure:hover:before, .art-sub a.link:hover:before, .art-slide a.link:hover:before {
  -webkit-animation: circle  .75s;
  animation: circle  .75s;
}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.media {
  min-height: 120px;
}

.media img {
  max-width: 100px;
  border-radius: 50%;
}

.media.right img {
  margin-right: 0 !important;
  margin-left: 1rem;
}

.media.right h5 {
  text-align: right;
  font-size: 14px;
}

.media h5 {
  font-size: 14px;
}

.media span {
  display: inline-block;
  font-weight: normal;
  color: #aaa;
  font-size: 12px;
}

.media p {
  margin-bottom: 0;
  max-width: 60%;
  font-size: 13px;
  color: #999;
  font-style: italic;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.media.right p {
  text-align: right;
  float: right;
}

.img-intro figcaption {
  font-size: 22px;
  font-weight: 700;
  margin-top: 8px;
  z-index: 1;
  width: 100%;
  text-align: center;
  padding: 0 15px;
  color: #0d3277;
}

.btn-advisory {
  position: fixed;
  background-color: #ee3322;
  right: 50px;
  bottom: 350px;
  background: none;
  cursor: pointer;
}

.btn-advisory img {
  width: 150px;
}

.btn-advisory:hover {
  opacity: 0.8;
}

.style-modal .close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: transparent;
}

.style-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 25px;
  margin-left: 13px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.style-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 25px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

.style-modal h4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.help-block.text-danger ul {
  list-style: none;
  padding-left: 0;
  font-size: 12px;
  margin-top: 5px;
}

#sendMessageButton {
  width: 100%;
  margin-bottom: 20px;
}

#contactForm .form-group {
  margin-bottom: 25px;
}

.block-cost {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.sale {
  padding-left: 110px;
  width: 380px;
  background: url(../img/GIAMGIA.jpg) left center no-repeat;
  min-height: 110px;
  font-weight: 700;
  font-family: Times New Roman;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 19px;
  position: relative;
}

/**/
.btn-top {
  position: fixed;
  background-color: rgba(238, 51, 34, 0.5);
  right: 50px;
  bottom: 250px;
  width: 40px;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  border-radius: 2px;
  display: none;
  text-align: center;
}

.btn-top i {
  color: #fff;
  font-size: 20px;
}

.btn-top:hover {
  background-color: #ee3322;
}

@media (min-width: 768px) {
  .block-cost h5, .block-cost h4 {
    margin-bottom: 1rem;
  }
  .block-cost h4 {
    color: #e04137;
  }
  .block-cost .table {
    margin-bottom: 1.5rem;
  }
  .block-cost ul li {
    padding-bottom: 5px;
  }
  section {
    padding: 150px 0;
  }
  .showmobile {
    display: none;
  }
  .img-school {
    display: block;
  }
  .hasmargin {
    margin-bottom: 1.5rem;
  }
}

.btn {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #e04137;
  border-color: #e04137;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #d02b20 !important;
  border-color: #d02b20 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: #e04137;
  text-shadow: none;
}

::selection {
  background: #e04137;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.showmobile {
  display: none;
}

@media only screen and (max-width: 1199px) {
  .custom-header .logo-style {
    max-width: 120px !important;
  }
  #mainnav-mobi ul > li > a i {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .custom-header .logo-style {
    max-width: 90px !important;
  }
  .page-section {
    padding: 50px 0;
  }
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
  .slick-slider {
    overflow: hidden;
  }
  body {
    font-size: 14px;
  }
  .block-cost {
    font-size: 15px;
  }
  .block-cost h4 {
    font-size: 16px;
  }
  .block-cost h5 {
    font-size: 14px;
  }
  .art-slide .des h4 {
    text-align: center;
  }
  .btn-top {
    right: 20px;
    bottom: 20px;
    width: 32px;
    height: 32px;
    line-height: 34px;
    cursor: pointer;
    border-radius: 2px;
    display: none;
    text-align: center;
  }
  .btn-top i {
    color: #fff;
    font-size: 16px;
  }
  .btn-top:hover {
    background-color: #ee3322;
  }
  .custom-header .logo-style {
    width: 80px !important;
  }
  .bottom-footer .list-social {
    padding-left: 0;
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
  .bottom-footer .list-social li {
    margin-bottom: 5px;
  }
  .top-footer dl {
    margin-bottom: 30px;
  }
  .bottom-footer .copyright {
    margin-bottom: 15px;
    text-align: center;
  }
  .top-footer .logo {
    margin: 0 auto 30px auto;
  }
  .top-footer .row .col-sm-4 {
    width: 50%;
    float: left;
  }
  .top-footer .row .col-sm-3:nth-child(3) {
    width: 50%;
    float: right;
  }
  .top-footer .row .col-sm-2 {
    width: 100%;
    clear: both;
    overflow: hidden;
  }
  .top-footer .row .col-sm-2 .block-footer {
    float: left;
    width: 50%;
  }
  .btn-register {
    float: right;
  }
  .flat-title-section.text-center h1 {
    font-size: 22px;
  }
  .flat-course .course-content h4 {
    font-size: 18px;
    height: auto;
  }
  .btn-more {
    font-size: 11px;
  }
  .flat-course .course-content p:last-of-type {
    margin-bottom: 20px;
    height: auto;
  }
  .flat-course .course-content {
    padding: 20px;
  }
  .flat-title-section {
    margin-bottom: 30px;
  }
  .title-course, .flat-title-section h1 {
    font-size: 24px;
  }
  #logo {
    max-width: 13%;
  }
  .main-content.blog-posts .entry,
  .row-map .widget-sv,
  .main-content.blog-masory .post-wrap .entry,
  .comment-form .name-container,
  .comment-form .email-container {
    width: 100%;
  }
  .blog-posts .blog-title-single h1, .blog-posts .blog-title h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .main-content.course-grid.have-sidebar .flat-course, .main-content.course-grid.have-sidebar .flat-course:nth-of-type(even),
  .have-sidebar .post-content article.post, .have-sidebar .post-content article.post:nth-of-type(even) {
    width: 100%;
    margin: 0 0 33px;
  }
  .header-inner-pages p {
    padding-top: 10px;
  }
  .top .right-bar {
    float: none;
  }
  .top .flat-information, .text-information, .top .flat-socials {
    text-align: center;
    width: 100%;
  }
  .flat-information > li > a {
    padding: 5px 12px;
  }
  .flat-information > li:before {
    top: 5px;
  }
  .flat-row.join-us p {
    padding: 0 20px;
  }
  .flat-row.testimonial .testimonial-slider {
    width: 100%;
  }
  .contact .comment-form .name-container,
  .flat-contact-form .input-wrap.name {
    width: 49%;
  }
  .flat-socials > li.facebook, .flat-socials > li.facebook a {
    padding-left: 0;
  }
  .contact-page {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .flat-contact-form.style2 textarea {
    height: 150px;
  }
  .submit-wrap {
    text-align: right;
  }
  .contact-content {
    margin-bottom: 45px;
  }
  .contact .comment-form .name-container,
  .flat-contact-form .input-wrap.name, .contact .comment-form .email-container,
  .flat-contact-form .input-wrap.email, .contact .comment-form .subject-container,
  .flat-contact-form .input-wrap.Subject {
    width: 100%;
    margin-right: 0;
  }
  .flat-tabs ul.menu-tab li a {
    margin-right: 83px;
  }
  .main-content.course-grid .blog-title {
    margin-bottom: 20px;
  }
  .main-content.course-grid .flat-post-ordering {
    top: 55px;
    padding: 0 10px;
    left: 0;
    right: auto;
  }
  .main-content.course-list .featured-post {
    width: 100%;
    margin: 0 0 20px;
  }
  .main-content.course-list .flat-course .course-content {
    overflow: visible;
    clear: both;
    position: relative;
  }
  .main-content.course-single .course-widget-price {
    width: 100%;
    margin-bottom: 30px;
  }
  .course-widget-price .flat-button {
    padding: 0 15px;
    line-height: 37px;
  }
  .main-content {
    padding: 40px 0;
  }
  ul.curriculum li ul.section-content li.course-lesson .fr {
    float: none;
  }
  .blog-posts .comment-post {
    margin-bottom: 40px;
  }
  .blog-posts .comment-post .comment-respond input {
    width: 100%;
  }
  .tp-leftarrow.square:hover, .tp-rightarrow.square:hover,
  .tp-leftarrow.square, .tp-rightarrow.square {
    background: transparent;
  }
  .flat-course .course-content .price {
    top: -32px;
  }
  .flat-tabs ul.menu-tab {
    margin-bottom: 0;
  }
  .flat-tabs ul.menu-tab li {
    margin-bottom: 50px;
  }
  .flat-tabs ul.menu-tab:after {
    top: 39%;
  }
  .blog-posts .comment-post .comment-avatar > img {
    margin-bottom: 5px;
  }
  .blog-posts .comment-post .comment.style1 {
    padding-left: 30px;
  }
  .header .header-wrap .logo {
    width: 150px;
    height: auto;
  }
  .post .date-post {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .blog-posts .blog-title h1 {
    font-size: 24px;
  }
  .main-content.flat-row {
    padding-top: 30px !important;
  }
  .flat-pagination {
    text-align: right;
  }
  .blog-pagination .flat-pagination span, .blog-pagination .flat-pagination a {
    padding: 5px 13px !important;
  }
  .block-addess address p {
    font-size: 14px;
  }
  .showmobile {
    display: block;
  }
  .media p {
    max-width: 100%;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

/* Mobile Landscape Size */
/* Mobile Portrait Size */
@media only screen and (max-width: 479px) {
  .media {
    margin-bottom: 1rem;
  }
  table tr th, table tr td {
    min-width: 150px;
  }
  table tr th:first-child, table tr td:first-child {
    min-width: 150px;
  }
  .btn-advisory {
    bottom: 80px;
    right: 20px;
  }
  .img-intro figcaption {
    font-size: 16px;
  }
  .timeline .timeline-heading h4 {
    font-size: 16px;
  }
  .timeline .timeline-heading h4.subheading {
    font-size: 15px !important;
  }
  .timeline {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .art-icon {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page-section {
    padding: 30px 0;
  }
  .page-section h2.section-heading {
    font-size: 17px;
  }
  .page-section h3.section-subheading {
    margin: 0;
  }
  .art-sub .link {
    width: 150px;
  }
  .art-sub .des p, .art-slide .des p {
    font-size: 12px;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
  .art-slide-1 {
    margin: 0 3px;
  }
  .art-slide-1 .des {
    position: static;
    color: #fff;
    background: none;
  }
  .art-sub .des h4, .art-slide .des h4 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .custom-header .logo-style {
    width: 20% !important;
  }
  .art-slide-1 .des p {
    color: #6c757d !important;
  }
  .slider .slick-next, .slider .slick-prev {
    width: 20px;
    height: 20px;
  }
  .slider .slick-prev {
    left: 0px;
    z-index: 999;
    margin-top: -30px;
    text-align: right;
  }
  .slider .slick-next {
    right: 10px;
    z-index: 999;
    margin-top: -30px;
    text-align: left;
  }
  .go-top {
    bottom: 50px;
  }
  .teacher .flat-teacher {
    width: 100%;
  }
  .flat-portfolio.v1 .item,
  .flat-portfolio.v3 .item,
  .flat-portfolio.v3 .item.w50,
  .flat-portfolio.v4 .item,
  .flat-portfolio.v2 .item,
  ul.products li {
    width: 100%;
  }
  .flat-information > li, .flat-information > li.email {
    margin: 0;
  }
  .flat-row.testimonial .testimonial-slider {
    padding: 15px;
  }
  .news-letter-form .widget-mailchimb p, .news-letter-form .widget-mailchimb .widget-title,
  .news-letter-form .widget-mailchimb input[type=email] {
    margin-bottom: 10px;
  }
  .news-letter-form .widget-mailchimb input[type=email] {
    width: 100%;
  }
  .flat-tabs .content-tab .text-tab {
    width: 100%;
    padding: 15px;
  }
  .flat-tabs .content-tab .images-tab {
    width: 100%;
  }
  .button-right.owl-theme .owl-controls .owl-nav div.owl-next,
  .button-right.owl-theme .owl-controls .owl-nav div.owl-prev {
    top: -32px;
  }
  .flat-tabs ul.menu-tab li a {
    margin-right: 19px;
  }
  .flat-accordion .flat-toggle .toggle-content {
    margin-left: -30px;
    padding-right: 25px;
  }
  .flat-accordion .toggle-content > div {
    overflow: visible;
  }
  .flat-accordion .toggle-content .faq-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .main-content.course-grid .flat-post-ordering {
    top: 55px;
    padding: 0 10px;
    left: 0;
    right: auto;
  }
  .main-content.course-grid.have-sidebar .flat-post-ordering {
    top: -95px;
  }
  .main-content.course-grid .list-grid {
    float: right;
  }
  .main-content.course-grid label.modern-select, .main-content.course-list label.modern-select {
    margin-bottom: 5px;
  }
  .main-content.course-grid .flat-course, .main-content.course-grid.have-sidebar .flat-course {
    width: 100%;
  }
  .main-content.course-list .flat-post-ordering {
    top: 62px;
    width: 100%;
    right: 0;
  }
  .post-lastest-new .post .date-post {
    margin-right: 15px;
  }
  .content-post {
    padding: 0;
  }
  .news-letter-form .widget-mailchimb button {
    padding: 0 12px;
    font-size: 10px;
  }
}

@media (max-width: 361px) {
  .main-content.course-list .course-meta.desc {
    top: 145px;
  }
  .main-content.course-list .flat-course .course-meta.review {
    margin-bottom: 96px;
  }
  .flat-course-images {
    margin: 0 -15px;
  }
  .flat-course-images li {
    margin-right: 0;
    float: left;
    width: 50%;
  }
}

/* Retina Devices */
#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #e04137;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  color: #e04137;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #c5281f;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #e04137;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
    font-size: 13.5px;
    font-weight: 600;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #e04137;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

/*nav*/
.outer-nav {
  /* background: #e04137; */
  background-image: linear-gradient(to right, #e04137, #d2235d, #b2257c, #823590, #3f4095);
}

/* navigation */
#mainnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainnav ul li {
  position: static;
}

#mainnav > ul > li {
  display: inline-block;
  float: left;
}

#mainnav > ul > li > a {
  position: relative;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  /* line-height: 98px; */
  padding: 12px 35px 12px 35px;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mainnav .menu .has-sub:before {
  display: none;
  position: absolute;
  top: 38px;
  right: 30px;
  font-family: "FontAwesome";
  font-size: 14px;
  content: "\f107";
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mainnav ul li:last-child a {
  /* padding: 0 0px 0 0; */
}

/* submenu */
#mainnav ul.submenu {
  /* min-height: 226px; */
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  position: absolute;
  left: 0;
  top: 150%;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mainnav > ul > li
#mainnav ul.right-sub-menu {
  left: auto;
  right: 0;
}

#mainnav ul li:hover > ul.submenu {
  top: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
}

#mainnav ul li ul li {
  margin-left: 0;
}

#mainnav ul.submenu li ul {
  position: absolute;
  left: 20%;
  top: 0 !important;
}

#mainnav ul.submenu {
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
}

#mainnav ul.submenu > li {
  /* border-top: 5px solid #333; */
}

#mainnav ul.submenu > li {
  width: 20%;
  /* background: #e04137; */
  /* position: relative; */
}

#mainnav ul.submenu > li.sub-parent:after {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 14px;
  position: absolute;
  right: 25px;
  top: 11px;
  color: #999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mainnav ul.submenu > li.dropup:hover ul.dropdown-menu {
  display: block;
}

#mainnav ul.submenu li:first-child {
  border-top: none;
}

#mainnav ul.submenu > li > a {
  overflow: hidden;
  font-weight: 500;
  display: block;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  padding: 10px 0 10px 26px;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mainnav ul.submenu > li > a i {
  float: right;
  margin-top: 3px;
  margin-right: 5px;
}

#mainnav ul.submenu > li:hover > a {
  background-color: #e04137;
  color: #fff;
}

#mainnav ul.submenu > li.dropup:hover > a {
  background-color: #e04137;
  color: #fff;
}

#mainnav ul.submenu > li.sub-parent:hover::after {
  right: 18px;
}

#mainnav .menu .has-sub:hover:before,
#mainnav > ul > li > a:hover,
#mainnav > ul > li.active > a,
#mainnav > ul > li:hover > a {
  color: #fff;
  background: #2a58b5;
}

#mainnav ul.submenu li.dropup ul.dropdown-menu {
  padding-top: 7px;
  padding-bottom: 7px;
  position: absolute;
  width: 80%;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 246px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #e04137;
}

#mainnav ul.submenu li.dropup ul.dropdown-menu li {
  /* display: inline-block; */
  float: left;
  width: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#mainnav ul.submenu li.dropup ul.dropdown-menu li a {
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  /* padding-top: 5px; */
  color: #000;
  padding: 3px 20px;
}

#mainnav ul.submenu li.dropup ul.dropdown-menu li:hover a {
  background: none;
  color: #e04137;
}

#mainnav ul.submenu li.dropup ul.dropdown-menu li.full-width {
  width: 100%;
}

#mainnav ul.submenu li.dropup ul.dropdown-menu li.full-width div {
  padding: 5px 20px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mainnav ul.submenu li.dropup ul.dropdown-menu li.full-width div p {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

#mainnav ul.submenu li.dropup ul.dropdown-menu li.full-width div p span {
  display: block;
  padding-top: 5px;
}

#mainnav ul.submenu li.dropup ul.dropdown-menu li.full-width div img {
  height: 208px;
  display: inline-block;
  padding-left: 13px;
}

#mainnav ul.submenu li.dropup ul.dropdown-menu li.full-width div .btn-more-s {
  font-size: 11px;
  color: #0b57b5;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

/* Mobile navigation
---------------------------------------- */
#mainnav-mobi {
  display: block;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  background-color: #222222;
  z-index: 1000;
}

#mainnav-mobi ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainnav-mobi ul li {
  margin: 0;
  position: relative;
  text-align: left;
  border-top: 1px solid #333333;
  cursor: pointer;
}

#mainnav-mobi ul > li > a {
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  padding: 0 50px;
  color: #fff;
}

#mainnav-mobi ul.sub-menu {
  top: 100%;
  left: 0;
  z-index: 2000;
  position: relative;
  background-color: #333333;
}

#mainnav-mobi > ul > li > ul > li,
#mainnav-mobi > ul > li > ul > li > ul > li {
  position: relative;
  border-top: 1px solid #333333;
}

#mainnav-mobi > ul > li > ul > li > ul > li a {
  padding-left: 70px !important;
}

#mainnav-mobi ul.sub-menu > li > a {
  display: block;
  text-decoration: none;
  padding: 0 60px;
  border-top-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#mainnav-mobi > ul > li > ul > li:first-child a {
  border-top: none;
}

#mainnav-mobi ul.sub-menu > li > a:hover,
#mainnav-mobi > ul > li > ul > li.active > a {
  color: #fff;
}

.btn-menu {
  display: none;
  float: right;
  position: relative;
  background: transparent;
  cursor: pointer;
  margin: 40px 40px 40px 0;
  width: 26px;
  height: 16px;
  -webkit-transition: all ease .238s;
  transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after,
.btn-menu span {
  background-color: #ffaa30;
  -webkit-transition: all ease .238s;
  transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.btn-menu span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  overflow: hidden;
  text-indent: 200%;
}

.btn-menu:before {
  -webkit-transform: translate3d(0, -7px, 0);
  transform: translate3d(0, -7px, 0);
}

.btn-menu:after {
  -webkit-transform: translate3d(0, 7px, 0);
  transform: translate3d(0, 7px, 0);
}

.btn-menu.active span {
  opacity: 0;
}

.btn-menu.active:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu.active:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.btn-submenu {
  position: absolute;
  right: 20px;
  top: 0;
  font: 20px/50px;
  font-family: 'Font Awesome 5 Free';
  text-align: center;
  cursor: pointer;
  width: 70px;
  height: 44px;
  line-height: 72px;
}

.btn-submenu:before {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  content: "";
}

.btn-submenu.active {
  line-height: 20px;
}

.btn-submenu.active:before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-top: 0 solid #fff;
  content: "";
}

.btn-menu {
  display: none;
}

.header-wrap {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.header-wrap .logo {
  width: 100px;
  /* height: 45px; */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: left;
  margin: 33px 0 0 0;
}

@media only screen and (max-width: 1199px) {
  .btn-menu {
    display: block;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .header .header-wrap .nav-wrap {
    float: left;
  }
  .header .header-wrap .nav-wrap .menu {
    margin-left: 0;
  }
  .main-content.have-sidebar .flat-post-ordering {
    top: -55px;
  }
  .btn-menu:before,
  .btn-menu:after,
  .btn-menu span {
    background: #fff;
  }
  /*nav mobile*/
  #mainnav-mobi {
    background: #2c4796;
    overflow-y: auto;
  }
  #mainnav-mobi ul li,
  #mainnav-mobi > ul > li > ul > li,
  #mainnav-mobi > ul > li > ul > li > ul > li {
    border-color: #4767c5;
  }
  #mainnav-mobi ul > li > a {
    padding-left: 25px;
    padding-right: 25px;
  }
  .btn-submenu {
    height: 50px;
    right: 0px;
    width: 60px;
  }
  #mainnav-mobi ul li .submenu {
    background: #3658bb;
  }
  #mainnav-mobi ul li .submenu .dropdown-menu {
    position: static;
    width: 100%;
    float: none;
  }
  #mainnav-mobi > ul > li > ul > li > ul > li a {
    padding-left: 40px !important;
    color: #3658ba;
  }
  #mainnav-mobi > ul > li > ul > li > ul > li.full-width {
    padding: 10px;
  }
  #mainnav-mobi > ul > li > ul > li > ul > li a.btn-more-s {
    display: block;
    width: 100%;
    text-align: right;
  }
}

header.masthead {
  text-align: center;
  color: white;
}

header.masthead a {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-bottom: 48%;
  display: block;
  height: 0;
  width: 100%;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}

.custom-header {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
}

.custom-header .logo-style {
  width: 100%;
  display: block;
  max-width: 150px;
}

.custom-header .logo-style img {
  display: block;
  width: 100%;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(224, 65, 55, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #e04137;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
  font-size: 1.125rem;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}
.divider-custom {
    margin: 1.25rem 1.5rem 1.5rem 1.5rem;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: .15rem;
    background-color: #333;
    border-radius: 1rem;
    border-color: #333!important;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem
}

.divider-custom .divider-custom-icon {
    color: #333!important;
    font-size: 24px;
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff
}

.divider-custom.divider-light .divider-custom-icon {
    color: #fff !important
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #e04137;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.footer {
  background: #ac1a24;
  color: #9c9c9c;
  padding: 45px 0 0;
  font-size: 14px;
}

.block-salary { background-image: linear-gradient(to right, #e04137, #d2235d, #b2257c, #823590, #3f4095);  padding: 15px; width: 100%; font-size: 14px; max-width: 300px; color: #fff; text-align: center; margin: 0 auto 16px auto; }
.block-salary strong { font-size: 16px; display: block; margin-top: 10px; }
.text-muted .d-block { font-weight: 600; }
.btn-dangky { height: 36px; line-height: 36px; border-radius: 3px; display: inline-block; padding: 0 20px; color: #fff; background-image: linear-gradient(to right, #e04137, #d2235d, #b2257c, #823590, #3f4095);}
.page-color { background-image: linear-gradient(to right, #e04137, #d2235d, #b2257c, #823590, #3f4095); color: #fff; }
.page-color h2.section-heading , .page-color .divider-custom .divider-custom-icon , .page-color .table,  .page-color .divider-custom .divider-custom-line { color: #fff!important; }
.page-color  .divider-custom .divider-custom-line { background:#fff!important; border-color: #fff!important; }
.outer-table { width: 100%; max-width: 500px; margin: 0 auto; font-weight: 300; }
.outer-table .table tr:first-child td { border-top: none; }
.art-qt {  }

.art-qt {
      padding-top: 10px;
      width: 100%;
      height: 96px;
      position: relative;
      background: #e44873;
      margin-bottom: 30px;
      color: #fff;
      font-size: 14px;
      padding-left: 30px;
    }
    .art-qt:after {
      content: "";
      position: absolute;
      left: -48px;
      bottom: 0;
      width: 0;
      height: 0;
      border-right: 48px solid #e44873;
      border-top: 48px solid transparent;
      border-bottom: 48px solid transparent;
    }
    .art-qt:before {
      content: "";
      position: absolute;
      right: -48px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 48px solid #e44873;
      border-top: 48px solid transparent;
      border-bottom: 48px solid transparent;
    }
    .outer-qt { max-width: 550px;  margin-right: auto; margin-left: auto;}

.art-qt p { margin-bottom: 0; line-height: 1.4; box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 4;
    line-clamp: 4;}
.number {
      width: 100px;
      z-index: 9;
      color: #fff;
      text-align: center;
      line-height: 100px;
      font-size: 36px;
      height: 100px;
      left: -100px;
      top: -25px;
      position: absolute;
      background: url(../img/shape.png) 0 0 no-repeat;
    }
    .art-qt-right  { padding-left: 0; padding-right: 15px; }
.art-qt-right .number { left: auto; right: -100px; }

.page-bgd { background: url(../img/japan/bgd-1.jpg) center center no-repeat; background-size: cover; }

.page-bgd  h2.section-heading , .page-bgd .divider-custom .divider-custom-icon , .page-bgd .table,  .page-bgd .divider-custom .divider-custom-line { color: #fff!important; }
.page-bgd   .divider-custom .divider-custom-line { background:#fff!important; border-color: #fff!important; }

.art-tuyendung { color: #fff; }
.art-tuyendung span { display: block; margin: 15px 0; }
.art-tuyendung span  i { margin-right: 5px; color: #d42757; }
@media only screen and (max-width: 991px) {
  .art-tuyendung { margin-top: 25px; }
}
@media only screen and (max-width: 480px) {
  .outer-qt { width: 190px; }
  .art-qt { padding-left: 15px; }
  .number { width: 80px; height: 80px; left: -80px; background-size: contain; line-height: 80px; font-size: 30px;}
  .art-qt-right .number { width: 80px; height: 80px; left: auto; right: -80px; background-size: contain; line-height: 80px; font-size: 30px;}
  .art-qt p { font-size: 13px; }
}